html {
    overflow-y: scroll;
}

.img-fitted {
    width: 100%;
    height:550px;
    object-fit: cover;
}

.card-columns {
    column-count: 3;
}

@media (max-width: 1050px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 700px) {
    .card-columns {
        column-count: 1;
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
