html {
    overflow-y: scroll;
}

.img-fitted {
    width: 100%;
    height:550px;
    object-fit: cover;
}


.card-columns {
    column-count: 1;
}

@media (min-width: 767.98px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1199.98px) {
    .card-columns {
        column-count: 3;
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
