{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">

    <div class="row align-items-center my-5">
        <div class="col-lg-9">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://placehold.it/900x400/0275D8/FFFFFF?text=Don't+forget+to+add+a+link+to+a+photo!" alt="">
        </div>

        <form action="{{ url_for('insert_place') }}" method="POST" class="col-lg-3">

            <div class="form-group">
                <h1 class="input-field">
                    <input id="place_name" type="text" name="place_name" class="validate font-weight-light col-12" placeholder="Place name">
                </h1>
            </div>

            <div class="form-group">
                <label for="my_opinion"><strong>my opinion: </strong><span id="current_opinion">0</span></label>
                <input id="my_opinion" type="range" name="my_opinion" class="custom-range" min="-3" max="3" value="0">
            </div>

            <div class="form-group">
                <label for="country"><strong>country: </strong></label>
                <input id="country" type="text" name="country" class="validate form-control" placeholder="Enter country">
            </div>

            <div class="row mb-3 justify-content-between">
                <span class="ml-3"><strong>visited: </strong></span>
                <span class="ml-2 mr-2">Not yet</span>
                <div class="custom-control custom-switch mr-auto">
                    <input type="checkbox" class="custom-control-input" id="is_visited" name="is_visited">
                    <label class="custom-control-label" for="is_visited">Yes</label>
                </div>
            </div>

            <div class="form-group">
                <label for="website"><strong>website: </strong></label>
                <input id="website" type="text" name="website" class="validate form-control" placeholder="Add website URL">
            </div>

            <div class="form-group">
                <label for="photo_url"><strong>photo URL: </strong></label>
                <input id="photo_url" type="text" name="photo_url" class="validate form-control" placeholder="Add link to a photo">
            </div>

            <div class="row mb-1 justify-content-start">
                <button class="btn btn-primary ml-3" type="submit" name="action">Add New Place</button>
                <a class="btn btn-primary ml-2" href="{{ url_for('display_places', page_number=params['curr_page']) }}">Cancel</a>
            </div>
        </form>

    </div>

    <br>

    <script>
        const slider = document.getElementById("my_opinion");
        const output = document.getElementById("current_opinion");

        slider.oninput = function() {output.innerHTML = this.value;}
    </script>
{% endblock %}