<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" ccontent="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>myRecs</title>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container py-1 my-1">
            <a class="navbar-brand" href="{{ url_for('get_all_places') }}">myRECs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ params.nav_active_curr[0] }}">
                    <a class="nav-link" href="{{ url_for('get_all_places') }}">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {{ params.nav_active_curr[1] }}">
                    {% if 'logged_in_user' in session %}
                        <a class="nav-link" href="{{ url_for('add_place') }}">Add place</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login', login_problem = False) }}">Add place</a>
                    {% endif %}
                </li>
                <li class="nav-item {{ params.nav_active_curr[2] }}">
                    <a class="nav-link" href="{{ url_for('search') }}">Select countries</a>
                </li>
                <li class="nav-item {{ params.nav_active_curr[3] }}">
                    {% if 'logged_in_user' in session %}
                        <a class="nav-link" href="{{ url_for('recommend') }}">RECommended</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login', login_problem = False) }}">RECommended</a>
                    {% endif %}
                </li>
                <li class="nav-item {{ params.nav_active_curr[4] }}">
                    {% if 'logged_in_user' in session %}
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout (<em>{{ session.logged_in_user }}</em>)</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login', login_problem = False) }}">Login</a>
                    {% endif %}
                </li>
                <li class="nav-item {{ params.nav_active_curr[5] }}">
                    <a class="nav-link" href="{{ url_for('help') }}">Help</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="py-1 bg-primary">
        <div class="container">
            <p class="m-0 text-center text-white">
                <em>Pavel Zelenin, 2020; e-mail: pavel.v.zelenin@gmail.com</em>
            </p>
        </div>
        <!-- /.container -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>