{% extends 'base.html' %}

{% block content %}
<div class="container my-5 pt-5">
    <div class="row">
        <div class="col">
            <h1>Help Page</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h2>What is myRECs?</h2>
            <p>This site was created to store and share RECords about <strong>places which you have visited, or want to visit, or may want to visit</strong> (places RECommended by the other users).</p>
            <p>It is primarily for travelers who use cars but everybody else is welcome too.</p>
            <p>Information is <strong>place-centered</strong>. A place can have just one interesting site (like Mont-Saint-Michel) or hundreds of them (like Paris) but if these sites can be reached on foot or by car within 5-20 minutes, all of them are considered to be located in the same place.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h2>What information about a place is stored?</h2>
            <p>For each place you can <a href="{{ url_for('add_place') }}">add</a> and edit whenever you want the following information:</p>
            <ul>
                <li>Place name (required)</li>
                <li>Country (required)</li>
                <li>Your opinion about the place (by default 0)</li>
                <li>Whether you've visited the place (by default "No")</li>
                <li>A link to a website about the place (optional)</li>
                <li>A link to a photo of the place (optional)</li>
                <li>Your comments about the place (optional)</li>
            </ul>
            <p>Your opinion may be positive but it may as well be negative. Thus the opinion scale looks like this:</p>
            <ul>
                <li>-3 means "never go there"</li>
                <li>-2 means "uninteresting and unfriendly"</li>
                <li>-1 means "boring"</li>
                <li>&ensp;0 means "rather nice but nothing special"</li>
                <li>+1 means "interesting or especially nice"</li>
                <li>+2 means "very interesting"</li>
                <li>+3 means "outstanding/unique"</li>
            </ul>
            <p>Thus the other users may get your RECommendation to visit or not to visit a place.</p>
            <p>You can also delete a place that you added. However, it is <strong>irreversible</strong>! Please, think twice before doing this.</p>
            <p><strong>Important!</strong> To be able to add, edit, or delete place information you have to <a href="{{ url_for('login', login_problem = False) }}">log in</a>. If you have no username yet, please, <a href="{{ url_for('sign_up', signup_problem=False) }}">sign up</a>. No personal information is required. The site is supposed to be as anonymous as it's possible. At the moment, you don't need to provide even your email address.</p>
            <p>The other users can also add new places. Or they can add their own information about any already added (by any user) place except for the place name and country.</p>
            <p>Information added by all users is visible to everybody. However, it is anonymous.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h2>How places are displayed?</h2>
            <h3>I. All places (Home Page)</h3>
            <p>On the <a href="{{ url_for('get_all_places') }}">home page</a> you can see all places added by all users to the database. They are sorted by the "Users' opinion" (averaged opinion of all users who rated this place).</p>
            <p>At the moment, not more than 15 places are displayed on a page. However, with "First", "Previous", "Next", "Last" buttons on the bottom of the page, you can get to all other places.</p>
            <h3>II. Selected places</h3>
            <p>You can limit the displayed set of places by pressing <a href="{{ url_for('select') }}">Select</a> in the menu. There you can select one or several countries for which places exist in the database.</p>
            <h3>III. RECommended places</h3>
            <p>As different people have different tastes, the top places according to "Users' opinion" may not be very interesting personally to you. That is why, by pressing <a href="{{ url_for('recommend') }}">RECommended</a> in the menu, you can get personal RECommendations ("REC-opinion") based on similarity of your tastes with the other users. A similar approach is used for movie and book recommendation sites.</p>
            <p><strong>Important!</strong> To get RECommendations you have to <a href="{{ url_for('login', login_problem = False) }}">log in</a>. If you have no username yet, please, <a href="{{ url_for('sign_up', signup_problem=False) }}">sign up</a>. Also you <strong>have to provide your opinion about at least one of the places that were rated by other users</strong>. Otherwise either (i) your tastes are unknown, or (ii) your and other users' tastes are incomparable.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h2>How to see, edit, and delete information about a place?</h2>
            <p></p>
        </div>
    </div>
</div>

{% endblock %}