{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row align-items-start mt-5">
        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for photo in place.photo_urls %}
                        {% if loop.index == 1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for photo in place.photo_urls %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item active" data-interval="10000">
                                <img class="d-block img-fluid w-100" src="{{ photo }}" alt="">
                            </div>
                        {% else %}
                            <div class="carousel-item" data-interval="10000">
                                <img class="d-block img-fluid w-100" src="{{ photo }}" alt="">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <h1 class="font-weight-light mb-3">{{ place.place_name }}</h1>
            {% if place.status == 'contributor' %}
                <p>
                    <strong>my opinion: </strong>
                    {% if place.my_opinion > 0 %}
                        +{{ place.my_opinion }}
                        {% for i in range(place.my_opinion) %}
                            <i class="fa fa-thumbs-up"></i>
                        {% endfor %}
                    {% endif %}
                    {% if place.my_opinion < 0 %}
                        {{ place.my_opinion }}
                        {% for i in range(-place.my_opinion) %}
                            <i class="fa fa-thumbs-down"></i>
                        {% endfor %}
                    {% endif %}
                    {% if place.my_opinion == 0 %}
                        {{ place.my_opinion }}
                    {% endif %}
                </p>
            {% endif %}
            <p>
                <strong>users' opinion: </strong>
                {% if place.opinion_int > 0 %}
                    {{ place.opinion_str }}
                    {% for i in range(place.opinion_int) %}
                        <i class="fa fa-thumbs-up"></i>
                    {% endfor %}
                {% endif %}
                {% if place.opinion_int < 0 %}
                    {{ place.opinion_str }}
                    {% for i in range(-place.opinion_int) %}
                        <i class="fa fa-thumbs-down"></i>
                    {% endfor %}
                {% endif %}
                {% if place.opinion_int == 0 %}
                    {{ place.opinion_str }}
                {% endif %}
            </p>
            {% if params['is_rec'] %}
                <p class="text-danger">
                    <strong>RECommendation: </strong>
                    {% if place.rec_int > 0 %}
                        {{ place.rec_str }}
                        {% for i in range(place.rec_int) %}
                            <i class="fa fa-thumbs-up"></i>
                        {% endfor %}
                    {% endif %}
                    {% if place.rec_int < 0 %}
                        {{ place.rec_str }}
                        {% for i in range(-place.rec_int) %}
                            <i class="fa fa-thumbs-down"></i>
                        {% endfor %}
                    {% endif %}
                    {% if place.rec_int == 0 %}
                        {{ place.rec_str }}
                    {% endif %}
                </p>
            {% endif %}
            {% if place.country %}
                <p>
                    <strong>country: </strong>
                    {{ place.country }}
                </p>
            {% endif %}
            {% if place.status == 'contributor' %}
                <p>
                    <strong>visited: </strong>
                    {% if place.is_visited %}
                        Yes
                    {% else %}
                        Not yet
                    {% endif %}
                </p>
            {% endif %}
            {% if place.websites != [] %}
                <p class="mb-0"><strong>websites: </strong></p>
                <ul>
                    {% for website in place.websites %}
                        <li><a href="{{ website }}" target="_blank">{{ place.place_name }} (link {{ loop.index }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row justify-content-start">
                <a class="btn btn-primary btn ml-3" href="{{ url_for('display_places', page_number=session['curr_page']) }}" role="button">Back</a>
                {% if place.status == 'anonymous' %}
                    <a class="btn btn-primary btn ml-2" href="{{ url_for('login', login_problem = False) }}" role="button">Edit</a>
                {% else %}
                    <a class="btn btn-primary btn ml-2" href="{{ url_for('edit_place_details', place_id=place._id) }}" role="button">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if place.comments != [] %}
        <div class="row align-items-center my-1">
            <div class="col">
                <p><strong>comments: </strong></p>
                {% for comment in place.comments %}
                    <p>{{ comment }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<br>
{% endblock %}