{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">
        <div class="row align-items-center my-5">

            <div class="col-lg-9">
                {% if place.photo_urls[0] %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ place.photo_urls[0] }}">
                {% else %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400">
                {% endif %}
            </div>

            <div class="col-lg-3">
                <h1 class="font-weight-light mb-3">{{ place.place_name }}</h1>
                {% if place.my_opinion %}
                    <p>
                        <strong>my opinion: </strong>
                        {% if place.my_opinion > 0 %}
                            +{{ place.my_opinion }}
                            {% for i in range(place.my_opinion) %}
                                <i class="fa fa-thumbs-up"></i>
                            {% endfor %}
                        {% endif %}
                        {% if place.my_opinion < 0 %}
                            {{ place.my_opinion }}
                            {% for i in range(-place.my_opinion) %}
                                <i class="fa fa-thumbs-down"></i>
                            {% endfor %}
                        {% endif %}
                        {% if place.my_opinion == 0 %}
                            {{ place.my_opinion }}
                        {% endif %}
                    </p>
                {% endif %}
                {% if place.country %}
                    <p><strong>country: </strong>{{ place.country }}</p>
                {% endif %}
                {% if place.i_spoke == True %}
                {% if place.is_visited %}
                    <p><strong>visited: </strong>Yes</p>
                {% else %}
                    <p><strong>visited: </strong>Not yet</p>
                {% endif %}
                {% endif %}
                {% if place.websites != [] %}
                    <p class="mb-0"><strong>websites: </strong></p>
                    <ul>
                        {% for website in place.websites %}
                            <li><a href="{{ website }}" target="_blank">{{ place.place_name }} (link {{ loop.index }})</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row justify-content-start">
                    <a class="btn btn-primary btn ml-3" href="{{ url_for('display_places', page_number=params['curr_page']) }}" role="button">Back</a>
                    <a class="btn btn-primary btn ml-2" href="{{ url_for('edit_place_details', place_id=place._id) }}" role="button">Edit</a>
                </div>
            </div>
        </div>

        {% if place.comments != [] %}
            <div class="row align-items-center my-5">
                <div class="col">
                    <p><strong>comments: </strong></p>
                    {% for comment in place.comments %}
                        <p>{{ comment }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <br>
{% endblock %}