{% extends 'base.html' %}

{% block content %}
<br>
<div class="container pt-3">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5">
            <h1>Select</h1>
        </div>
    </div>
    <div class="row align-items-center justify-content-center my-3">
        <form action="{{ url_for('get_selected_places') }} " method="POST" class="col-lg-5">
            <div class="form-group">
                <label for="country"><strong>countries: </strong></label>
                <select multiple id="country" name="country" class="form-control">
                    {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row mb-1 justify-content-start">
                <button class="btn btn-primary ml-3" type="submit" name="action">Find places</button>
                <a class="btn btn-primary ml-2" href="{{ url_for('display_many_places', page_number=session['curr_page']) }}">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}