{% extends 'base.html' %}

{% block content %}
<br>
<div class="container my-5">
    <div class="row justify-content-center my-5">
        <div class="col-lg-5">
            <div class="row">
                <h1 class="col ml-2">Sign Up</h1>
            </div>
            {% if signup_problem == True %}
                <div class="alert alert-danger mx-3 mt-2" role="alert">
                    The username is invalid or already in use. Please try again.
                </div>
            {% endif %}
            <form action="{{ url_for('insert_user') }}" method="POST" class="col">
                <div class="row justify-content-start">
                    <div class="col">
                        <div class="form-group">
                            <label for="username"><strong>username: </strong></label>
                            <input id="username" type="text" name="username" class="form-control" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group">
                            <label for="password"><strong>password: </strong></label>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Enter your password" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 justify-content-start">
                    <button class="btn btn-primary ml-3" type="submit" name="action">Sign Up</button>
                    <a class="btn btn-primary ml-2" href="{{ url_for('login', login_problem=False) }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}